<!--<%= link_to 'Sign In with Google', '/auth/google_oauth2' %>-->
<div class="absolute-layout bigEntrance">
   <div id="login-form-logo-block">
      <div id="login-logo-block" class="tossing">
         <%= image_tag 'signin-form-logo.png' %>
      </div>
      <br />
      <%= image_tag 'signin-form-top.png' %>
   </div>
   <div class="well well-lg login-block" ng-controller="LoginCtrl">
   </div>
</div>
