<!--<%= link_to 'Sign In with Google', '/auth/google_oauth2' %>-->
<div class="absolute-layout bigEntrance">
   <div id="login-form-logo-block">
      <div id="login-logo-block" class="tossing">
         <%= image_tag 'signin-form-logo.png' %>
      </div>
      <br />
      <%= image_tag 'signin-form-top.png' %>
   </div>
   <div class="well well-lg login-block" ng-controller="LoginCtrl">
      <h1>
         Please sign in with your Google account
      </h1>
      <form class="form-horizontal" role="form">
         <div class="form-group">
            <div class="input-group">
               <span class="input-group-addon">
                  <i class="icon-user"></i>
               </span>
               <input type="text" class="form-control" placeholder="example@gmail.com">
            </div>
         </div>
         <div class="form-group">
            <div class="input-group">
               <span class="input-group-addon">
                  <i class="icon-unlock-alt"></i>
               </span>
               <input type="password" class="form-control" placeholder="password...">
            </div>
         </div>
      </form>
      <button id="google-login-btn" ng-click="googleOauth2()" class="btn btn-primary btn-lg btn-block block-primary-color">
         Sign in with Google
      </button>
   </div>
</div>
