<!--<%= link_to 'Sign In with Google', '/auth/google_oauth2' %>-->
<div class="absolute-layout bigEntrance">
   <div id="login-form-logo-block">
      <div id="login-logo-block" class="tossing">
         <%= image_tag 'signin-form-logo.png' %>
      </div>
      <br />
      <%= image_tag 'signin-form-top.png' %>
   </div>
   <div class="well well-lg login-block" ng-controller="LoginCtrl">
      <h1>
         Please sign in with your Google account
      </h1>
      <button id="google-login-btn" ng-click="googleOauth2()" class="btn btn-primary btn-lg btn-block block-primary-color">
         Sign in with Google
      </button>
   </div>
</div>
