<!-- set token -->
<% if current_user %>
<script>
   token = '<%= current_user.token %>';
   refresh_token = '<%= current_user.refresh_token %>';
   useremail = '<%= current_user.email %>';
</script>
<% end %>

<!-- calendar page -->
<div id="calendar-page" class="bigEntrance absolute-layout" ng-controller="CalCtrl">
</div>

<%= link_to 'Sing out', session_path, method: :delete %>