/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require pure-min
 *= require bootstrap.min
 *= require font-awesome
 *= require picker/default
 *= require picker/default.date
 *= require picker/default.time
 *= require_self
 *= require_tree .
 */

// base rule
$font-stack:            Helvetica, sans-serif;
$default-font-size:     13px;
$default-font-color:    #8e807e;
$gray-font-color:       #666;
$primary-font-color:    #3390ea;
$whilt-color:           #fff;
$block-primary-color:   #3390ea;
$block-gray-color:      #eee;

body {
   width: 100%;
   height: 100%;
   font: 100% $font-stack $default-font-size;
   color: $default-font-color;
   background: $block-primary-color image-url('background-gird.png') repeat;
}
img {
   max-width: 100%;
}
.block-primary-color {
   background-color: $block-primary-color; 
}
.gray-font-color {
   color: $gray-font-color; 
}

// layout rule
.absolute-layout {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
}
.fixed-header-main-content {
   padding: 50px 0px 10px 0px; 
   background: $block-gray-color image-url('white-grid-bg-s.png') repeat; 
   min-height: 460px;
}
.fixed-header-main-content h3 {
   font-size: 1.2em;
   margin-left: 5px;
   margin-top: 0px;
}
#calendar-page {
   background: $block-primary-color image-url('background-gird.png') repeat;  
}
#settings-page {
   background: $block-primary-color image-url('background-gird.png') repeat;
   z-index: 1000;
}

// module rule
.circle-btn {
   padding: 2px 6px;
   font-size: 15px;
   line-height: 1.5;
   border-radius: 15px;
   margin: 3px 5px;
   border-color: $whilt-color;
   background-color: $block-primary-color;
}
.x-circle-btn {
   border-radius: 12px;
   border-color: $block-primary-color;
   background-color: $block-primary-color;
   padding: 2px 5px;
}
.circle {
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   border:1px solid #ccc;
   width:8px;
   height:8px;
   margin: 8px;
}
#calendar-header, #settings-header {
   height: 2.7em;
   background-color: $block-primary-color;
   width: 100%;
   position: fixed;
   top: 0px;
   z-index: 500;
}
#calendar-header h1, #settings-header h1 {
   color: $whilt-color;
   font-size: 1.2em;
   margin: 0px;
   line-height: 2.2em;
   padding-left: 10px;
}
#calendar-footer {
   height: 60px;
   background-color: #f8f8f8;
   width: 100%;
   position: fixed;
   bottom: 0px;
   z-index: 500;
}

// login related module rule
#login-form-logo-block {
   width: 260px;
   margin: 40px auto 0px auto; 
}
#login-logo-block {
   width: 70px;
   margin: 0px auto;
   position: relative;
   top: 30px;
}
.login-block {
   background-color: $whilt-color;
   background-image: -webkit-gradient(linear, top, bottom, from($whilt-color), to($block-gray-color));
   background-image: -webkit-linear-gradient(top, $whilt-color, $block-gray-color);
   background-image:    -moz-linear-gradient(top, $whilt-color, $block-gray-color);
   background-image:      -o-linear-gradient(top, $whilt-color, $block-gray-color);
   background-image:         linear-gradient(to bottom, $whilt-color, $block-gray-color);
   width: 260px;
   height: 270px;
   margin: 0px auto 10px auto;
   padding-top: 5px;
   border-radius: 0px 0px 6px 6px;
   border: 0px;
   box-shadow: none;
   -webkit-box-shadow: none;   
}
.login-block h1 {
   color: $primary-font-color;
   font-size: 1.4em;
   text-align: center;
   width: 200px;  
   margin-bottom: 30px;
   margin-top: 5px;
}

// settings related module rule
#settings-block {
   border-top: 1px solid #dadada;
   border-bottom: 1px solid #dadada;
   background-color: #fbfbfb;
}
.account-list-block {
   font-size: 1.2em;
   padding: 10px 5px;
   border-bottom: 1px solid #dadada;
}