/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// base rule
$font-stack:            Helvetica, sans-serif;
$default-font-size:     13px;
$default-font-color:    #8e807e;
$gray-font-color:       #666;
$primary-font-color:    #3390ea;
$whilt-color:           #fff;
$block-primary-color:   #3390ea;
$block-gray-color:      #eee;

body {
   width: 100%;
   height: 100%;
   font: 100% $font-stack $default-font-size;
   color: $default-font-color;
   //background: $block-primary-color image-url('background-gird.png') repeat;
}
