<header id="calendar-header" class="pure-g" ng-controller="CalHeaderCtrl">
   <div class="pure-u-1-2">
      <h1>Day Schedule</h1>
   </div>
   <div class="pure-u-1-2">
      <button type="button" class="btn btn-primary btn-sm pull-right circle-btn" style="margin-right:15px;" ng-click="openSettings()">
         <i class="icon-cog icon-2"></i>
      </button>
      <button id="open_calendar_button" type="button" class="btn btn-primary btn-sm pull-right circle-btn">
         <i class="icon-calendar icon-2"></i>
      </button>
   </div>
</header>