<header id="message-header" class="pure-g">
   <div class="pure-u-3-4 limit-range">
      <h1>{{ messageItem.title }}</h1>
   </div>
   <div class="pure-u-1-4">
      <button type="button" class="btn btn-primary btn-sm pull-right circle-btn" style="margin-right:15px;" ng-click="closeMessage()">
         <i class="icon-remove icon-2"></i>
      </button>
   </div>
</header>