<header id="messages-header">
   <div class="limit-range" ng-click="closeMessages()">
      <h1>
         <i class="icon-angle-left custom-angle"></i>
         &nbsp;&nbsp;
         {{ eventItem.summary }}
      </h1>
   </div>
</header>