<header id="settings-header" class="pure-g" ng-controller="SettingsHeaderCtrl">
   <div class="pure-u-1-2">
      <h1>Settings</h1>
   </div>
   <div class="pure-u-1-2">
      <button type="button" class="btn btn-primary btn-sm pull-right circle-btn" style="margin-right:15px;" ng-click="closeSettings()">
         <i class="icon-remove icon-2"></i>
      </button>
   </div>
</header>