<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Good Lock</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="Good Lock，最貼心的訊息捕手" />
  <meta name="author" content="徐幼庭, 曾韻如, 林志傑, 簡煒航" />
  <meta name="keywords" content="Good Lock, Yahoo!, Yahoo! Open Hack Day" />
  <link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/touch-icon-ipad.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/touch-icon-ipad-retina.png" />
  <link rel="apple-touch-startup-image" href="/launch-320.jpg" media="(device-width: 320px)" />
  <link rel="apple-touch-startup-image" href="/launch-640.jpg" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" />
  <link rel="shortcut icon" href="/favicon.ico?v1" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
